<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" fxLayoutGap="10px" (ngSubmit)="onLogin()">
      <mat-form-field>
        <input type="email" matInput placeholder="Your email" required formControlName="email">
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing E-Mail</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Your password" required formControlName="password">
        <mat-hint>Please enter your password</mat-hint>
        <mat-error>Missing passsord</mat-error>
      </mat-form-field>
      <button type="submit" *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
      <mat-spinner  *ngIf="isLoading$ | async"></mat-spinner>
    </form>
  </section>
  